token.json
.secrets
config.toml
node_id.txt

*.mcpack
*.zip
*.pcap
*.bmp
*.bin
*.log

/bedrocktool
/bedrocktool-*
/bedrock-skin-bot
__debug_bin

.vscode/*
keys.db
/skins/
/worlds/
/dist/
/public/
/builds/
/tokens/