token*.json
.secrets

*.mcpack
*.zip
*.pcap
*.pcap2
*.bmp
*.bin
*.log
*.gpg
*.syso
*.pprof

/bedrocktool
/bedrocktool-*
__debug_bin*

.vscode/*
keys.db
/skins/
/worlds/
/packs/
/dist/
/builds/
/updates/
/fyne-cross/
/tmp/
/cmd/test

packets.log.gpg
customdata.json
/other-projects/
__pycache__/
gathering.py
*.ipynb
entityflags.py
*.ignore

/libbedrocktool.h
/libbedrocktool.so
/tex.png
/packcache/*