token*.json
.secrets

*.mcpack
*.zip
*.pcap
*.pcap2
*.bmp
*.bin
*.log
*.gpg
*.syso
*.pprof

/c7client
/c7client-*
__debug_bin*

.vscode/*
keys.db
/skins/
/worlds/
/packs/
/dist/
/builds/
/updates/
/fyne-cross/
/tmp/
/cmd/test

packets.log.gpg
customdata.json
/other-projects/
__pycache__/
gathering.py
*.ipynb
entityflags.py
*.ignore

/libc7client.h
/libc7client.so
/tex.png
/packcache/*
/blobcache
/*-test
/actors*.txt
changelog.txt
testservers/*
/scripts/

actors.json